/* font-family: "Noto Serif Bengali", serif; */
/* font-family: "DM Serif Text", serif; */
*{
  font-family: "Noto Serif Bengali", serif;
  box-sizing: border-box;


}
#heading{
  font-family: "DM Serif Text", serif;
}

#heading h1{
  text-align: center;
  margin:3px 2px;
}
#heading h2{
  text-align:center;
  margin:3px 2px;

}
#navigation{
  font-size: 10px;
  text-align: left;
  height:60px;
}
.exampleLines {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: solid #ecf0f1;
  border-left: 2px solid #352D32ED;
  
}
.example{
  text-align: center;
  height: 15px;
}
#tenseTypes h5{
  text-align:center;
  height:10px;
  font-size: 20px;
}
footer {
  text-align: center;
  margin-top: 30px;
}

#button {
  background-color: #3498db;
  color: #fff;
  padding: 7px 13px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  font-family: 'DM Serif Text', serif;
   margin-left: 150px;
   margin-bottom: 20px;
}

#button:hover {
  background-color: #2ecc71;
}
#lowerLine{
  border-bottom: 2px solid;
  border-bottom-color: #574A52B5;
}
